<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-navbar.png", class: "nav-logo" %>
  <% end %>

  <div class="step-bar">
    <% case params[:step] %>
    <% when nil %>
      <%= link_to events_search_path(step: "posee_dynamique") do %>
        <i class="fas fa-circle active"></i>
      <% end %>
    <% end %>
  </div>

  <div>
    <ul class="nav-links">
      <li class="link-orange"><%= link_to "Rejouer", root_path%></li>
      <li><%= link_to "Login",new_user_session_path%></li>
    </ul>
  </div>
</div>
