<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]} te suggère #{@event.name}" %>
<% content_for :meta_description, "#{DEFAULT_META["meta_product_name"]} #{@event.description}" %>
<% content_for :meta_image do %>
  <% if @event.photo_url %>
    <% image_path(@event.photo_url) %>
  <% elsif @event.venue.photo.present? %>
    <% cl_image_path @event.venue.photo %>
  <% else %>
    <% DEFAULT_META["meta_image"] %>
  <% end %>
<% end %>

<div class="wrapper-show" style="background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.5)), url(<%= image_path "homegifs/homegif.gif" %>);">

  <% if @event.category == "Cinéma" || @event.category == "Concert" %>
    <div class="container-cinema">
      <div class="title-show">
        <h1><%= @event.name %></h1>
        <% if @event.genre == "Film" %>
          <h3>Film d'Animation</h3>
        <% else %>
          <h3><%= @event.category.capitalize %> - <%= @event.genre %></h3>
        <% end %>email
      </div>
      <div class="result-presentation">
        <div class="result-photo">
          <% if @event.photo_url == "/design/images/mascotteNb.png" %>
            <%= cl_image_tag @event.venue.photo %>
          <% else %>
            <%= image_tag @event.photo_url %>
          <% end %>
        </div>

        <div class="result-details">
          <span class="mb-5"><h2><%= @event.venue.name %></h3></span>
          <h3><i class="fas fa-home"></i>&nbsp <%= @event.venue.address %></h3>
          <h3><i class="far fa-clock"></i>&nbsp <%= @event.beginning_hour %></h3>
          <h3><i class="fas fa-globe"></i>&nbsp <%= link_to "Site web", @event.url %></h3>
          <% if @event.venue.phone_number.present? %>
          <h3><i class="fas fa-phone"></i>&nbsp <%= @event.venue.phone_number %></h3>
          <% end %>
        </div>

        <div class="result-share"> <!-- Div cree pour mettre buttons de share por Patri -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/home?status=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-twitter-square"></i></a>
        </div>
      </div>


        <!-- Bouton et form actionMailer -->

        <%= link_to '#', class: 'link-to-email btn-email' do %>
          <i class="far fa-envelope"></i> Recevoir les détails par email
        <% end %>

        <div class="send-effectued"></div>

        <%= render 'event_mailer/email_form' %>

        <!-- Bouton et form twilio -->

        <%= link_to '#', class: 'link-to-email btn-twilio' do %>
          <i class="fas fa-mobile-alt"></i> Recevoir les détails par SMS
        <% end %>

        <div class="send-effectued"></div>

        <%= render 'twilio/phone_number' %>

      <div class="result-resume">
       <p><%= @event.description %></p>
      </div>
      <%= link_to root_path, class: "link-to-rejouer" do %>
        Rejouer
      <% end %>
    </div>

  <% elsif @event.category == "Théâtre" %>
    <div class="container-bar">
      <div class="title-show-bar">
         <h3><%= @event.category.capitalize %></h3>
         <h1><%= @event.venue.name %></h1>
      </div>

      <div class="result-presentation">
        <div class="result-photo">
          <%= image_tag @event.photo_url %>
        </div>
        <div class="result-details">
          <h3><i class="fas fa-home"></i>&nbsp <%= @event.venue.address %></h3>
          <h3><i class="far fa-clock"></i>&nbsp <%= @event.beginning_hour %> - <%= @event.end_hour %></h3>
          <h3><i class="fas fa-globe"></i>&nbsp <%= link_to "Site web", @event.url %></h3>
          <% if @event.venue.phone_number.present? %>
          <h3><i class="fas fa-phone"></i>&nbsp <%= @event.venue.phone_number %></h3>
          <% end %>
        </div>
      </div>

      <!-- Bouton et form actionMailer -->

      <%= link_to '#', class: 'link-to-email btn-email' do %>
        <i class="far fa-envelope"></i> Recevoir les détails par email
      <% end %>

      <div class="send-effectued"></div>

      <%= render 'event_mailer/email_form' %>

      <!-- Bouton et form twilio -->

      <%= link_to '#', class: 'link-to-email btn-twilio' do %>
        <i class="fas fa-mobile-alt"></i> Recevoir les détails par SMS
      <% end %>

      <div class="send-effectued"></div>

      <%= render 'twilio/phone_number' %>

      <div class="result-share"> <!-- Div cree par Patri pour mettre buttons de share -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/home?status=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-twitter-square"></i></a>
      </div>

      
      <div class="result-resume-theatre">
       <p><%= @event.description %></p>
      </div>
      <%= link_to root_path, class: "link-to-rejouer" do %>
        Rejouer
      <% end %>
    </div>

  <% else %>
    <div class="container-bar">
      <div class="title-show-bar">
         <h3><%= @event.category.capitalize %></h3>
         <h1><%= @event.venue.name %></h1>
      </div>

      <div class="result-presentation">
        <div class="result-photo">
          <% if @event.photo_url.present? %>
            <%= image_tag @event.photo_url %>
          <% else %>
          <%= cl_image_tag @event.venue.photo, height: 200, width: 300, crop: :fill %>
          <% end %>
        </div>
        <div class="result-details">
          <h3><i class="fas fa-home"></i>&nbsp <%= @event.venue.address %></h3>
          <h3><i class="far fa-clock"></i>&nbsp <%= @event.beginning_hour %> - <%= @event.end_hour %></h3>
          <h3><i class="fas fa-globe"></i>&nbsp <%= link_to "Site web", @event.url %></h3>
          <% if @event.venue.phone_number.present? %>
          <h3><i class="fas fa-phone"></i>&nbsp <%= @event.venue.phone_number %></h3>
          <% end %>
        </div>

        <div class="result-share"> <!-- Div cree par Patri pour mettre buttons de share -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/home?status=<%= request.base_url + event_path(@event) %>" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false" ><i class="fab fa-twitter-square"></i></a>
        </div>

      </div>

      <!-- Bouton et form actionMailer -->

      <%= link_to '#', class: 'link-to-email btn-email' do %>
        <i class="far fa-envelope"></i> Recevoir les détails par email
      <% end %>

      <div class="send-effectued"></div>

      <%= render 'event_mailer/email_form' %>

      <!-- Bouton et form twilio -->

      <%= link_to '#', class: 'link-to-email btn-twilio' do %>
        <i class="fas fa-mobile-alt"></i> Recevoir les détails par SMS
      <% end %>

      <div class="send-effectued"></div>

      <div class="result-resume-bar">
       <p><%= @event.description %></p>
      </div>

      <%= link_to root_path, class: "link-to-rejouer" do %>
        Rejouer
      <% end %>

    </div>
  <% end %>

  <div class="retour-link">
    <%= link_to events_path(params: {skip_search: true}), class: "back-link" do %>
      <i class="fas fa-arrow-left"></i> Retour
    <% end %>
  </div>
</div>
